<br>
<div class="panel panel-default">
  <div class="panel-heading">Here's all the stuff you can eat, frugaleater!</div>
  <table class="table table-bordered">

    <thead>
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Restaurant</th>
    <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr>    
    <!-- The loop looks off here too.  Don't you want a new tr for each
        iteration of the loop? -->
    <% @favorites.each do |i| %>    
        <td><a href="/favorites/<%=i["id"]%>"><%=i["name"]%></a></td>
        <td><a href="/favorites/<%=i["id"]%>"><%= i["price"] %></a></td>
        <td><a href="/favorites/<%=i["id"]%>"><%= i["restaurant"] %></a></td>
        <td><%= link_to "Delete", i, :method => :delete, data: { confirm: "Are you sure you want to delete?"}, :class => "btn btn-danger" %></td>
    </tr>
    </tbody> 
    <% end %>
    </table> 
</div> 