
<div class="row">
	<div class="col-xs-9 col-xs-offset-1">
		<h1> Frugal Eater </h1>
		<h3> Hungry? But can't afford to spend a bomb? No sweat! Frugal eater is here to your rescue! </h3>
		<div class="border-form-div">

		<%= form_tag("/menuitems", method: "get") do %>
			<%= label_tag(:name, "What food item are you craving today?") %>
			<%= text_field_tag(:name) %>
			<%= submit_tag("Search") %>
		<% end %>
		</div>

		<div class="border-form-div">
			<div id = "user_nav">
				<% if user_signed_in? %>
					Signed in as <%= current_user.email %>. Not you?
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				<% else %>
					<p> New user? Sign up now! </p>
					<p><%= link_to "Sign up", new_user_registration_path,:class=>'btn btn-info' %></p>
					<p> Already a member? Sign in here! </p>
					<p><%= link_to "Sign in", new_user_session_path,:class=>'btn btn-info' %></p>
				<% end %>
			</div>
		</div>

		<% flash.each do|key,value| %>
   			<div> <%=value%> </div>
		<% end %>

		</div>

	</div>
</div>
