<div class="row">
	<div class="col-sm-3">
		<p>Here's all the stuff you can eat frugal eater!</p>
		
			<%= @menuitems["objects"].each do |i| %>
			<a href='/menuitems/<%=i["id"]%>'>
			<%=i["name"]%>  <%=i["price"]%> <%=i["venue"]["name"]%><br></br>
			<% end %>	
	
	</div>	
</div>

                
               

<!-- @menuitems[:objects][0][:price] -->