
<div class="row">
	<div class="col-sm-3">
		<p>Menu item: <%= @menuitem %> </p>
		<p>Price: $<%= @price %> </p>
		<p>Restaurant: <%= @name %> </p>
		<p> 
			<%= @address %> <br></br>
			<%= @locality %> <br></br>
			<%= @region %>, <%= @postal_code %> <br></br>
		</p>
		<button type="button" class="btn btn-default btn-md">
  		<span class="glyphicon glyphicon-star"></span> Favorite
		</button> <br></br>

		<button type="button" class="btn btn-default btn-md">
  		<span class="glyphicon glyphicon-star"></span> View all favorites
		</button>
		
	</div>
</div>

