<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">      
  <div class="container">
      <div class="navbar-header">
        <a href = "/"><img class = "logo" src = "http://i.imgur.com/2xp80kh.png"width="180" height="60"></a>
        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        
      </div>

      <div class="navbar-form pull-right">                
            
            <ul class="links">
            <% if user_signed_in? %>
              <strong class="navbar-link">Hello,  <%= current_user.email %></strong>
              <%= link_to 'Home', root_path, :class => 'navbar-link' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
            </ul>
          </div><!-- navbar-form pull-right -->  
      

  </div>      
</div>  